/* disable these when you're done */
.ui-grid-container-one {
  /*background-image: url('/images/grid-1.png');*/
}
.ui-grid-container-two {
  /*background-image: url('/images/grid-2.png');*/
}
.ui-grid-container-three {
  background-image: url('/images/grid-3.png');
}
/* your CSS goes here */
.ui-grid-container-one {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5,1fr);
}

.ui-grid-container-one>div:nth-child(2n+1){
  background-color:var(--ui-color) ;
}

.ui-grid-container-two>div:last-child{
  background-color: rgb(237, 100, 164);
  grid-column: 2/-1;
  grid-row: 2/span 2;
}